<div id="edit-media-view" style="display:none;">
    <table>
    <tr>    
    <td>    
        <img data-bind="attr: {src: source}" style="width:200px;height:200px"/><br />   
        <small data-bind="text: timeStamp" />
    </td>
    <td>        
        <span>Description</span>
        <textarea rows="4" cols="25" data-bind="value: $root.description"></textarea>
    </td>
    </tr>    
    </table>
</div>