@section header
{
    <div class="content-wrapper">        
        <div class="float-right">                    
            <nav id="top-view">
                <ul id="menu">
                    <li><a data-bind="attr: {href: pictures}">Pictures</a></li>
                    <li><a data-bind="attr: {href: videos}">Videos</a></li>                    
                </ul>                                          
            </nav>            
        </div>
    </div>

}

<section class="main">        
    <div >                    
        <nav id="command-view">
            <button data-bind="click: addMedia">Add Media</button> 
            <button data-bind="click: deleteMedia">Delete Media</button>
        </nav>            
    </div>

    <br />

    @Html.Partial("Pictures")
    @Html.Partial("Videos")
    @Html.Partial("AddMedia")
    @Html.Partial("EditMedia")
</section>

